@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-200 antialiased;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-950;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full hover:bg-slate-700 transition-colors;
}